<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>Accounts - Everyman Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>

<ul class="navbar-ul">
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('dashboard_page') }}"><i class="icon icon-dashboard"></i> Dashboard</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('transactions_page') }}"><i class="icon icon-transaction"></i> Transactions</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('accounts_page') }}"><i class="icon icon-email"></i> Accounts</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('parties_page') }}"><i class="icon icon-user"></i> Parties</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('attribution_page') }}"><i class="icon icon-ok-circled"></i> Attribution</a></li>
</ul>

<div id="main" class="main-padding">
    <div class="flex-v-center">
        <h1>Accounts</h1>
        <div class="gap"></div>
        <button class="btn btn-blue-1 add-account-font-size" id="add-account-btn">
            <i class="icon icon-email"></i> Add Account
        </button>
    </div>

    <div class="add-account-form" id="add-account-form">
        <div class="icon-input-div add-account-font-size tooltip">
            <i class="icon icon-title icon-input-icon"></i>
            <input class="icon-input add-account-input" id="add-account-name" type="text" placeholder="Name*">
            <span class="tooltip-text" id="add-account-name-tooltip">Default Text</span>
        </div>
        <div class="gap"></div>
        <input id="add-account-hidden-color-input" class="hidden-color-input" type="color" tabindex="-1">
        <div class="icon-input-div add-account-font-size tooltip">
            <i class="icon icon-paint-board-and-brush icon-input-icon pointer" id="add-account-color-icon"></i>
            <input class="icon-input add-account-input" id="add-account-color" type="text" placeholder="Color">
            <span class="tooltip-text" id="add-account-color-tooltip">Default Text</span>
        </div>
        <div class="gap"></div>
        <button class="btn btn-green-1 add-account-font-size add-account-hide-btn" id="add-account-hide-btn">
            <i class="icon icon-visibility" id="add-account-hide-btn-icon"></i> <span id="add-account-hide-btn-text">Visible</span>
        </button>
        <div class="gap"></div>
        <button class="btn btn-green-3 add-account-font-size add-account-submit-btn" id="add-account-submit">Submit</button>
    </div>
    <div class="big-gap"></div>

    <table id="accounts-table" class="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th class="text-center">Visibility</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="accounts-table-body">
<!--        Example rows, uncomment and disable the Javascript automatic loading to see toy data-->
<!--            <tr>-->
<!--                <td class="account-data-table-column-1">Bank</td>-->
<!--                <td class="account-data-table-column-2">-->
<!--                    <div class="flex-v-center">-->
<!--                        <span class="data-table-color-code">Color</span>-->
<!--                        <div class="gap"></div>-->
<!--                        <div class="data-table-color-swatch"></div>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td class="text-center account-data-table-column-3">-->
<!--                    <i class="icon data-table-icon icon-visibility green-1"></i>-->
<!--                </td>-->
<!--                <td class="account-data-table-column-4">-->
<!--                    <div class="action-btn-group">-->
<!--                        <div class="action-btn-group-btn action-btn-group-first action-btn-group-blue-1">-->
<!--                            <i class="icon icon-pencil"></i>-->
<!--                        </div>-->
<!--                        <div class="action-btn-group-btn action-btn-group-last action-btn-group-red-1">-->
<!--                            <i class="icon icon-trash"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr id="account-117">-->
<!--                <td class="account-data-table-column-1">-->
<!--                    <div class="icon-input-div edit-account-font-size edit-account-input-font-color tooltip">-->
<!--                        <i class="icon icon-title icon-input-icon"></i>-->
<!--                        <input class="icon-input add-account-input" id="edit-account-117-name" type="text" placeholder="Name*">-->
<!--                        <span class="tooltip-text" id="edit-account-117-name-tooltip">Default Text</span>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td class="account-data-table-column-2">-->
<!--                    <div class="icon-input-div edit-account-font-size edit-account-input-font-color tooltip">-->
<!--                        <i class="icon icon-paint-board-and-brush icon-input-icon pointer" id="edit-account-117-color-icon"></i>-->
<!--                        <input class="icon-input add-account-input" id="edit-account-117-color" type="text" placeholder="Color">-->
<!--                        <span class="tooltip-text" id="edit-account-117-color-tooltip">Default Text</span>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td class="text-center account-data-table-column-3">-->
<!--                    <button class="btn btn-green-1 edit-account-font-size edit-account-hide-btn" id="edit-account-117-hide-btn">-->
<!--                    <i class="icon icon-visibility" id="edit-account-117-hide-btn-icon"></i> <span id="edit-account-117-hide-btn-text">Visible</span>-->
<!--                </button>-->
<!--                </td>-->
<!--                <td class="account-data-table-column-4">-->
<!--                    <div class="action-btn-group">-->
<!--                        <div class="action-btn-group-btn action-btn-group-first action-btn-group-green-3 tooltip">-->
<!--                            <i class="icon icon-floppy"></i>-->
<!--                            <span class="tooltip-text">Save edits</span>-->
<!--                        </div>-->
<!--                        <div class="action-btn-group-btn action-btn-group-last action-btn-group-red-1 tooltip">-->
<!--                            <i class="icon icon-cancel"></i>-->
<!--                            <span class="tooltip-text">Cancel</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Tithe</td>-->
<!--                <td>-->
<!--                    <div class="flex-v-center">-->
<!--                        <span class="data-table-color-code">None</span>-->
<!--                        <div class="gap"></div>-->
<!--                        <div class=""></div>-->
<!--                    </div>-->
<!--                </td>-->
<!--                <td class="text-center">-->
<!--                    <i class="icon data-table-icon icon-invisible red-1"></i>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <div class="action-btn-group">-->
<!--                        <div class="action-btn-group-btn action-btn-group-first action-btn-group-last action-btn-group-blue-1">-->
<!--                            <i class="icon icon-pencil"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
        </tbody>
    </table>
</div>
</body>
<script src="/static/notifications.js"></script>
<script src="/static/accounts.js"></script>
</html>
