<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>Attribution - Everyman Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>

<ul class="navbar-ul">
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('dashboard_page') }}"><i class="icon icon-dashboard"></i> Dashboard</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('transactions_page') }}"><i class="icon icon-transaction"></i> Transactions</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('accounts_page') }}"><i class="icon icon-email"></i> Accounts</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('parties_page') }}"><i class="icon icon-user"></i> Parties</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('attribution_page') }}"><i class="icon icon-ok-circled"></i> Attribution</a></li>
</ul>

<div id="main" class="main-padding main-color">
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div>Icons made by Font Awesome Free from <a href="https://github.com/FortAwesome/Font-Awesome">Font Awesome</a></div>
</div>

</body>
</html>
