<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>Dashboard - Everyman Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>

<ul id="navbar" class="navbar-ul">
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('dashboard_page') }}"><i class="icon icon-dashboard"></i> Dashboard</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('transactions_page') }}"><i class="icon icon-transaction"></i> Transactions</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('accounts_page') }}"><i class="icon icon-email"></i> Accounts</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('parties_page') }}"><i class="icon icon-user"></i> Parties</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('attribution_page') }}"><i class="icon icon-ok-circled"></i> Attribution</a></li>
</ul>

<div id="main" class="main-padding">
    <h1>Dashboard</h1>
    <div class="card-display">
        <div class="card card-total-balance">
            <div class="card-header card-total-balance-header">
                <i class="icon icon-dollar-symbol"></i> Total Balance
            </div>
            <div class="card-body card-total-balance-body" id="total-balance-card-body">
                $0.00
            </div>
        </div>
        <div class="card card-total-balance">
            <div class="card-header card-total-balance-header">
                <i class="icon icon-pencil"></i> More features
            </div>
            <div class="card-body card-total-balance-body">
                <p>Coming soon</p>
            </div>
        </div>
        <div class="card card-total-balance">
            <div class="card-header card-total-balance-header">
                <i class="icon icon-pencil"></i> More features
            </div>
            <div class="card-body card-total-balance-body">
                <p>Coming soon</p>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/static/notifications.js"></script>
<script src="/static/dashboard.js"></script>
</html>
