<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>Parties - Everyman Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>

<ul class="navbar-ul">
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('dashboard_page') }}"><i class="icon icon-dashboard"></i> Dashboard</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('transactions_page') }}"><i class="icon icon-transaction"></i> Transactions</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('accounts_page') }}"><i class="icon icon-email"></i> Accounts</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('parties_page') }}"><i class="icon icon-user"></i> Parties</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('attribution_page') }}"><i class="icon icon-ok-circled"></i> Attribution</a></li>
</ul>

<div id="main" class="main-padding">
    <div class="flex-v-center">
        <h1>Parties</h1>
        <div class="gap"></div>
        <button class="btn btn-blue-1 add-party-font-size" id="add-party-btn">
            <i class="icon icon-user"></i> Add Party
        </button>
    </div>

    <div class="add-party-form" id="add-party-form">
        <div class="icon-input-div add-party-font-size tooltip">
            <i class="icon icon-title icon-input-icon"></i>
            <input class="icon-input add-party-input" id="add-party-name" type="text" placeholder="Name*">
            <span class="tooltip-text" id="add-party-name-tooltip">Default Text</span>
        </div>
        <div class="gap"></div>
        <button class="btn btn-green-3 add-party-font-size add-party-submit-btn" id="add-party-submit">Submit</button>
    </div>
    <div class="big-gap"></div>

    <table id="parties-table" class="data-table">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody id="parties-table-body">
            <!--        Example rows, uncomment and disable the Javascript automatic loading to see toy data-->
<!--            <tr>-->
<!--                <td class="party-data-table-column-1">Chick-fil-A</td>-->
<!--                <td class="party-data-table-column-2">-->
<!--                    <div class="action-btn-group">-->
<!--                        <div class="action-btn-group-btn action-btn-group-first action-btn-group-blue-1">-->
<!--                            <i class="icon icon-pencil"></i>-->
<!--                        </div>-->
<!--                        <div class="action-btn-group-btn action-btn-group-last action-btn-group-red-1">-->
<!--                            <i class="icon icon-trash"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="party-data-table-column-1">Transformational Security</td>-->
<!--                <td class="party-data-table-column-2">-->
<!--                    <div class="action-btn-group">-->
<!--                        <div class="action-btn-group-btn action-btn-group-first action-btn-group-blue-1">-->
<!--                            <i class="icon icon-pencil"></i>-->
<!--                        </div>-->
<!--                        <div class="action-btn-group-btn action-btn-group-last action-btn-group-red-1">-->
<!--                            <i class="icon icon-trash"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td class="party-data-table-column-1">SubKing</td>-->
<!--                <td class="party-data-table-column-2">-->
<!--                    <div class="action-btn-group">-->
<!--                        <div class="action-btn-group-btn action-btn-group-first action-btn-group-blue-1">-->
<!--                            <i class="icon icon-pencil"></i>-->
<!--                        </div>-->
<!--                        <div class="action-btn-group-btn action-btn-group-last action-btn-group-red-1">-->
<!--                            <i class="icon icon-trash"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
        </tbody>
    </table>
</div>

</body>
<script src="/static/notifications.js"></script>
<script src="/static/parties.js"></script>
</html>
