<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>Transactions - Everyman Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
</head>
<body>

<ul id="navbar" class="navbar-ul">
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('dashboard_page') }}"><i class="icon icon-dashboard"></i> Dashboard</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('transactions_page') }}"><i class="icon icon-transaction"></i> Transactions</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('accounts_page') }}"><i class="icon icon-email"></i> Accounts</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('parties_page') }}"><i class="icon icon-user"></i> Parties</a></li>
    <li class="navbar-li"><a class="navbar-a" href="{{ url_for('attribution_page') }}"><i class="icon icon-ok-circled"></i> Attribution</a></li>
</ul>

<div id="main" class="main-padding flex-column">
    <div class="flex-v-center">
        <h1>Transactions</h1>
        <div class="gap"></div>
        <button class="btn btn-blue-1 add-account-font-size" id="add-tx-btn">
            <i class="icon icon-transaction"></i> Add Transaction
        </button>
        <div class="gap"></div>
        <button class="btn btn-blue-1 add-account-font-size" id="add-transfer-btn">
            <i class="icon icon-transfer"></i> Add Transfer
        </button>
    </div>
    <div id="add-tx-form" class="add-tx-form">
        <div class="add-tx-form-date">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-calendar-1 icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-tx-date" type="text" placeholder="Date*">
                <span class="tooltip-text" id="add-tx-date-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-tx-form-charge">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-dollar-symbol icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-tx-charge" type="text" placeholder="Charge*">
                <span class="tooltip-text" id="add-tx-charge-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-tx-form-credit">
            <button class="btn btn-green-1 add-tx-font-size add-tx-credit-btn" id="add-tx-credit">Credit</button>
        </div>
        <div class="add-tx-form-party">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-user icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-tx-party" type="text" placeholder="Party">
                <span class="tooltip-text" id="add-tx-party-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-tx-form-account">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-email icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-tx-account" type="text" placeholder="Account*">
                <span class="tooltip-text" id="add-tx-account-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-tx-form-alt-date">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-calendar-1 icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-tx-alt-date" type="text" placeholder="Alt Date">
                <span class="tooltip-text" id="add-tx-alt-date-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-tx-form-notes">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-notes icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-tx-notes" type="text" placeholder="Notes">
                <span class="tooltip-text" id="add-tx-notes-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-tx-form-submit">
            <button class="btn btn-green-3 add-tx-font-size add-tx-submit-btn" id="add-tx-submit">Submit</button>
        </div>
    </div>
    <div id="add-transfer-form" class="add-transfer-form">
        <div class="add-transfer-form-date">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-calendar-1 icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-transfer-date" type="text" placeholder="Date*">
                <span class="tooltip-text" id="add-transfer-date-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-transfer-form-charge">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-dollar-symbol icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-transfer-charge" type="text" placeholder="Charge*">
                <span class="tooltip-text" id="add-transfer-charge-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-transfer-form-from">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-email icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-transfer-from" type="text" placeholder="From*">
                <span class="tooltip-text" id="add-transfer-from-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-transfer-form-to">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-email icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-transfer-to" type="text" placeholder="To*">
                <span class="tooltip-text" id="add-transfer-to-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-transfer-form-notes">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-notes icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="add-transfer-notes" type="text" placeholder="Notes">
                <span class="tooltip-text" id="add-transfer-notes-tooltip">Default Text</span>
            </div>
        </div>
        <div class="add-transfer-form-submit">
            <button class="btn btn-green-3 add-tx-font-size add-tx-submit-btn" id="add-transfer-submit">Submit</button>
        </div>
    </div>
    <div class="big-gap"></div>
    <div id="filter-container">
        <button class="btn btn-blue-1 add-tx-font-size" id="show-account-filter-btn">
            <i class="icon icon-filter"></i> Account Filters
        </button>
        <button class="btn btn-blue-1 add-tx-font-size" id="show-tx-filter-btn">
            <i class="icon icon-filter"></i> Transaction Filters
        </button>
    </div>
    <div class="big-gap"></div>
    <div id="account-filters" class="tx-account-filters">
        <button class="btn btn-blue-1 add-tx-font-size" id="show-account-table-btn">
            <i class="icon icon-visibility"></i> Show Accounts
        </button>
        <div class="gap"></div>
        <div class="accounts-balance-as-of-container">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-calendar-1 icon-input-icon"></i>
                <input class="icon-input account-balance-as-of" id="accounts-balance-as-of" type="text" placeholder="Balance as of">
                <span class="tooltip-text" id="accounts-balance-as-of-tooltip">Default Text</span>
            </div>
        </div>
    </div>
    <div id="tx-filters" class="tx-filters">
        <div class="tx-filters-accounts">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-email icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-accounts-input" type="text" placeholder="Accounts">
                <span class="tooltip-text" id="tx-filters-accounts-tooltip">Default Text</span>
            </div>
        </div>
        <div class="tx-filters-parties">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-user icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-parties-input" type="text" placeholder="Parties">
                <span class="tooltip-text" id="tx-filters-parties-tooltip">Default Text</span>
            </div>
        </div>
        <div class="tx-filters-notes">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-notes icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-notes-input" type="text" placeholder="Notes">
                <span class="tooltip-text" id="tx-filters-notes-tooltip">Default Text</span>
            </div>
        </div>
        <div class="tx-filters-min-charge">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-dollar-symbol icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-min-charge-input" type="text" placeholder="Min Charge">
                <span class="tooltip-text" id="tx-filters-min-charge-tooltip">Default Text</span>
            </div>
        </div>
        <div class="tx-filters-max-charge">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-dollar-symbol icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-max-charge-input" type="text" placeholder="Max Charge">
                <span class="tooltip-text" id="tx-filters-max-charge-tooltip">Default Text</span>
            </div>
        </div>
        <div class="tx-filters-debit">
            <button class="btn btn-orange-1 add-tx-font-size add-tx-submit-btn" id="tx-filters-debit-btn">Both</button>
        </div>
        <div class="tx-filters-date-begin">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-calendar-1 icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-date-begin-input" type="text" placeholder="Date Begin">
                <span class="tooltip-text" id="tx-filters-date-begin-tooltip">Default Text</span>
            </div>
        </div>
        <div class="tx-filters-date-end">
            <div class="icon-input-div add-tx-font-size tooltip">
                <i class="icon icon-calendar-1 icon-input-icon"></i>
                <input class="icon-input add-tx-input" id="tx-filters-date-end-input" type="text" placeholder="Date End">
                <span class="tooltip-text" id="tx-filters-date-end-tooltip">Default Text</span>
            </div>
        </div>
    </div>
    <div class="big-gap"></div>

    <div class="scroll-constraint">
    <div id="tables-container">
        <div id="accounts-table-container">
            <table id="accounts-table" class="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody id="accounts-table-body">
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>2018 Hard Drive Recovery Payback</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Bank</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td>Last</td>-->
<!--                        <td>$10,000</td>-->
<!--                    </tr>-->
                </tbody>
            </table>
        </div>
        <div class="gap"></div>
        <div id="txs-table-container">
            <table id="txs-table" class="data-table">
                <thead>
                    <tr>
                        <th class="tx-data-table-column-1">Date</th>
                        <th class="tx-data-table-column-2">Charge</th>
                        <th class="tx-data-table-column-3">Party</th>
                        <th class="tx-data-table-column-4">Account</th>
                        <th class="tx-data-table-column-5">Notes</th>
                        <th class="tx-data-table-column-6 text-center">Actions</th>
                    </tr>
                </thead>
                <tbody id="txs-table-body">
<!--                    <tr>-->
<!--                        <td>2021/01/01</td>-->
<!--                        <td>$(1,000)</td>-->
<!--                        <td>Chick-fil-A</td>-->
<!--                        <td>Dining</td>-->
<!--                        <td>Fancy Dinner</td>-->
<!--                        <td>-->
<!--                            <div class="action-btn-group">-->
<!--                                <div class="action-btn-group-btn action-btn-group-first action-btn-group-last action-btn-group-blue-1">-->
<!--                                    <i class="icon icon-pencil"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td class="tx-data-table-column-1">2021/01/01</td>-->
<!--                        <td class="tx-data-table-column-2 charge-credit">$1,000</td>-->
<!--                        <td class="tx-data-table-column-3">Chick-fil-A</td>-->
<!--                        <td class="tx-data-table-column-4">Dining</td>-->
<!--                        <td class="tx-data-table-column-5">Fancy Dinner</td>-->
<!--                        <td class="tx-data-table-column-6">-->
<!--                            <div class="action-btn-group">-->
<!--                                <div class="action-btn-group-btn action-btn-group-first action-btn-group-last action-btn-group-blue-1">-->
<!--                                    <i class="icon icon-pencil"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr id="tx-117">-->
<!--                        <td class="tx-data-table-column-1">-->
<!--                            <div class="flex">-->
<!--                                <div class="icon-input-div edit-tx-input-font-color tooltip">-->
<!--                                    <i class="icon icon-calendar-1 icon-input-icon"></i>-->
<!--                                    <input class="icon-input edit-tx-input" id="edit-tx-117-date" type="text" placeholder="Date*">-->
<!--                                    <span class="tooltip-text" id="edit-tx-117-date-tooltip">Default Text</span>-->
<!--                                </div>-->
<!--                                <div class="gap"></div>-->
<!--                                <div class="icon-input-div edit-tx-input-font-color tooltip">-->
<!--                                    <i class="icon icon-calendar-1 icon-input-icon"></i>-->
<!--                                    <input class="icon-input edit-tx-input" id="edit-tx-117-alt-date" type="text" placeholder="Alt Date">-->
<!--                                    <span class="tooltip-text" id="edit-tx-117-alt-date-tooltip">Default Text</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="tx-data-table-column-2">-->
<!--                            <div class="flex">-->
<!--                                <div class="icon-input-div edit-tx-input-font-color tooltip">-->
<!--                                    <i class="icon icon-dollar-symbol icon-input-icon"></i>-->
<!--                                    <input class="icon-input edit-tx-input" id="edit-tx-117-charge" type="text" placeholder="Charge*">-->
<!--                                    <span class="tooltip-text" id="edit-tx-117-charge-tooltip">Default Text</span>-->
<!--                                </div>-->
<!--                                <div class="gap"></div>-->
<!--                                <button class="btn btn-green-1" id="edit-tx-117-credit">Credit</button>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="tx-data-table-column-3">-->
<!--                            <div class="flex">-->
<!--                                <div class="icon-input-div edit-tx-input-font-color tooltip">-->
<!--                                    <i class="icon icon-user icon-input-icon"></i>-->
<!--                                    <input class="icon-input edit-tx-input" id="edit-tx-117-party" type="text" placeholder="Party">-->
<!--                                    <span class="tooltip-text" id="edit-tx-117-party-tooltip">Default Text</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="tx-data-table-column-4">-->
<!--                            <div class="flex">-->
<!--                                <div class="icon-input-div edit-tx-input-font-color tooltip">-->
<!--                                    <i class="icon icon-email icon-input-icon"></i>-->
<!--                                    <input class="icon-input edit-tx-input" id="edit-tx-117-account" type="text" placeholder="Account">-->
<!--                                    <span class="tooltip-text" id="edit-tx-117-account-tooltip">Default Text</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="tx-data-table-column-5">-->
<!--                            <div class="flex">-->
<!--                                <div class="icon-input-div edit-tx-input-font-color tooltip">-->
<!--                                    <i class="icon icon-notes icon-input-icon"></i>-->
<!--                                    <input class="icon-input edit-tx-input" id="edit-tx-117-notes" type="text" placeholder="Notes">-->
<!--                                    <span class="tooltip-text" id="edit-tx-117-notes-tooltip">Default Text</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td class="tx-data-table-column-6">-->
<!--                            <div class="action-btn-group">-->
<!--                                <div class="action-btn-group-btn action-btn-group-first action-btn-group-green-3 tooltip">-->
<!--                                    <i class="icon icon-floppy"></i>-->
<!--                                    <span class="tooltip-text">Save edits</span>-->
<!--                                </div>-->
<!--                                <div class="action-btn-group-btn action-btn-group-last action-btn-group-red-1 tooltip">-->
<!--                                    <i class="icon icon-cancel"></i>-->
<!--                                    <span class="tooltip-text">Cancel</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
</body>
<script src="/static/notifications.js"></script>
<script src="/static/autocomplete.js"></script>
<script src="/static/transactions.js"></script>
</html>
