@font-face {
    font-family: EMBWIcons;
    src: url('/static/everyman_budget_web.ttf');
    font-display: block;
}

.icon {
    font-family: EMBWIcons;
    font-style: normal;
    display: inline-block;
}

.icon-bank-building:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-dashboard:before { content: '\e802'; } /* '' */
.icon-dollar-symbol:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-invisible:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e806'; } /* '' */
.icon-paint-board-and-brush:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-price-tag:before { content: '\e809'; } /* '' */
.icon-title:before { content: '\e80a'; } /* '' */
.icon-transaction:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-visibility:before { content: '\e80e'; } /* '' */
.icon-notes:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-attention:before { content: '\e811'; } /* '' */
.icon-ok-circled:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-calendar-1:before { content: '\e814'; } /* '' */
.icon-floppy:before { content: '\e815'; } /* '' */
.icon-cancel-circled:before { content: '\e816'; } /* '' */
.icon-transfer:before { content: '\e817'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */

.green-1 {
    color: #2ecc71;
}

.red-1 {
    color: #e74c3c;
}

body {
    font-family: sans-serif;
    background-color: #2d2d2d;
    margin: 0;
}

h1, h2, p, table {
    color: #ffffff;
}

a:link {
    color: #0080ff;
}

a:visited {
    color: #d5abff;
}

a:hover {
    color: #0073e6;
}

.main-color {
    color: #ffffff;
}

.main-padding {
    margin: 10px;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.gap {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.big-gap {
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
}

.hide {
    max-height: 0 !important;
}

.pointer {
    cursor: pointer;
}

.scroll-constraint {
    overflow-y: hidden;
}

/* --- Buttons --- */

.btn {
    border: none;
    border-radius: 0.33em;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    transform: translateY(2px);
}
.btn:focus {
    /* This is bad for accessibility, but Chrome gives focus whenever the button is clicked and it looks gross */
    outline: none;
}

.btn-blue-1 {
    background-color: #3498db;
    color: #ffffff;
}
.btn-blue-1:hover {
    background-color: #1d6fa5;
}

.btn-green-1 {
    background-color: #2ecc71;
    color: #ffffff;
}
.btn-green-1:hover {
    background-color: #208e4e;
}

.btn-green-2 {
    background-color: #27ae60;
    color: #ffffff;
}
.btn-green-2:hover {
    background-color: #19703e;
}

.btn-green-3 {
    background-color: #1abc9c;
    color: #ffffff;
}
.btn-green-3:hover {
    background-color: #117964;
}

.btn-red-1 {
    background-color: #e74c3c;
    color: #ffffff;
}
.btn-red-1:hover {
    background-color: #bf2718;
}

.btn-orange-1 {
    background-color: #e67e22;
    color: #ffffff;
}
.btn-orange-1:hover {
    background-color: #a85913;
}

/* --- Icon Input --- */

.icon-input-div {
    position: relative;
    display: flex;
    align-items: center; /* vertical center */
    /* width: fit-content; */ /* TODO Was this ever doing anything? */
}

.icon-input-icon {
    position: absolute;
    left: 0.5em;
    height: fit-content;
}

.icon-input {
    font-size: 1em;
    border: solid 2px #00000000;
    padding-left: 1.5em;
    border-radius: 0.33em;
}
.icon-input:focus {
    border: solid 2px #3498db;
    color: #000000;
    outline: none;
}

.icon-input-error {
    border: solid 2px #e74c3c;
    color: #e74c3c;
}

/* --- Autocomplete --- */

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* position the autocomplete items to be the same width as the container */
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    word-break: break-word;
}
.autocomplete-items div:hover {
    /* when hovering an item */
    background-color: #e9e9e9;
}
.autocomplete-active {
    /* when navigating through the items using the arrow keys */
    background-color: #3498db !important; /* TODO set with element style rather than important */
    color: #ffffff;
}

/* --- Data Table --- */

.data-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 1rem;
}

.data-table td, th {
    padding: 0.75rem;
}

.data-table td {
    box-shadow: inset 0 -1px 0 #ffffff;
}

.data-table th {
    background: #2d2d2d;
    box-shadow: inset 0 1px 0 #ffffff, inset 0 -1px 0 #ffffff;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.data-table tbody tr:nth-child(odd) {
  background: #1a1a1a;
}

.data-table-icon {
    font-size: 1.75rem;
}

.data-table-color-code {
    width: 5rem;
}

.data-table-color-swatch {
    display: inline-block;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 1.5rem;
    height: 1.5rem;
}

/* --- Notifications --- */

.notification {
  font-size: 1rem;
  min-width: 20rem;
  max-width: 20rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;
  border-radius: 4px;
  position: absolute;
  top: calc(1rem + 28px);
  left: 100vw;
  transition: left 0.3s ease-out;
  opacity: 1;
}

.notification-error {
  background-color: #e74c3c;
  color: #ffffff;
}

.notification-success {
  background-color: #2ecc71;
  color: #ffffff;
}

.notification-info {
  background-color: #3498db;
  color: #ffffff;
}

.notif-text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 0.5rem;
  word-break: break-word;
}

/* --- Tooltips --- */
.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  visibility: hidden;
  font-size: 1rem;
  border-radius: 6px;
  width: 10rem;
  word-break: break-word;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -5rem; /* shift over to center */
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-v-center {
    display: flex;
    align-items: center;
}

.action-btn-group {
    display: flex;
    justify-content: center;
}

.action-btn-group-btn {
    text-decoration: none;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    width: 1.75rem;
    height:1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn-group-first {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.action-btn-group-last {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.action-btn-group-blue-1 {
    background-color: #3498db;
    color: #ffffff;
}
.action-btn-group-blue-1:hover {
    background-color: #1d6fa5;
}

.action-btn-group-red-1 {
    background-color: #e74c3c;
    color: #ffffff;
}
.action-btn-group-red-1:hover {
    background-color: #bf2718;
}

.action-btn-group-green-3 {
    background-color: #1abc9c;
    color: #ffffff;
}
.action-btn-group-green-3:hover {
    background-color: #117964;
}

.v-center-block {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

/* --- Navbar --- */
.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a3a3a;
}

.navbar-li {
  float: left;
  font-family: sans-serif;
}

.navbar-li .navbar-a {
  display: block;
  color: #cccccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-li .navbar-a:hover:not(.navbar-active) {
  color: #ffffff
}

.active {
  background-color: #04aa6D;
}

/* --- Dashboard --- */

.card-display {
    display: block;
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}

.card {
    position: relative;
    display: inline-block;
    min-width: 0;
    width: 100%;
    word-wrap: break-word;
    color: #ffffff;
    background-color: #3a3a3a;
    /*background-clip: border-box;*/
    border: 1px solid #ffffff;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.card-header {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    font-size: 1.5rem;
    /*font-weight: 700;*/
    padding: 0.75rem 1.25rem;
}

.card-body {
    display: flex;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-total-balance {
    border: 1px solid #3498db;
}

.card-total-balance-header {
    background-color: #3498db;
}

.card-total-balance-body {
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

/* --- Accounts --- */
.add-account-form {
    display: flex;
    align-items: flex-end;
    transition: max-height 0.3s linear;
}

.add-account-font-size {
    font-size: 1.5rem;
}

.add-account-input {
    width: 10em;
}

.add-account-input-div {
    display: flex;
    margin-left: -1.5rem;
}

.add-account-hide-btn {
    min-width: 8em;
    margin-bottom: 2px;
}

.add-account-submit-btn {
    margin-bottom: 2px;
}

.edit-account-font-size {
    font-size: 1rem;
}

.edit-account-input-font-color {
    color: #000000;
}

.edit-account-hide-btn {
    min-width: 8em;
}

.edit-account-color-container {
    display: flex;
    align-items: flex-end;
}

.account-data-table-column-1 {
    min-width: 12em;
}

.account-data-table-column-2 {
    min-width: 12em;
}

.account-data-table-column-3 {
    min-width: 10em;
}

.account-data-table-column-4 {
    min-width: 14em;
}

/* --- Parties --- */
.add-party-form {
    display: flex;
    align-items: flex-end;
    transition: max-height 0.3s linear;
}

.add-party-font-size {
    font-size: 1.5rem;
}

.add-party-input {
    width: 10em;
}

.add-party-input-div {
    display: flex;
    margin-left: -1.5rem;
}

.add-party-submit-btn {
    margin-bottom: 2px;
}

.edit-party-font-size {
    font-size: 1rem;
}

.edit-party-input-font-color {
    color: #000000;
}

.party-data-table-column-1 {
    min-width: 12em;
}

.party-data-table-column-2 {
    min-width: 14em;
}

/* --- Transactions --- */
.add-tx-font-size {
    font-size: 1.5rem;
}

.add-tx-form {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-areas:
        "date charge credit party account account submit"
        "alt-date notes notes notes notes notes submit";
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    /* transition: max-height 0.3s linear; */
}

.add-tx-form-date {
    grid-area: date;
}

.add-tx-form-party {
    grid-area: party;
}

.add-tx-form-credit {
    grid-area: credit;
}

.add-tx-form-charge {
    grid-area: charge;
}

.add-tx-form-account {
    grid-area: account;
}

.add-tx-form-alt-date {
    grid-area: alt-date;
}

.add-tx-form-notes {
    grid-area: notes;
}

.add-tx-form-submit {
    grid-area: submit;
}

.add-transfer-form {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-areas:
        "date charge from from to to submit"
        "notes notes notes notes notes notes submit";
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    /* transition: max-height 0.3s linear; */
}

.add-transfer-form-date {
    grid-area: date;
}

.add-transfer-form-from {
    grid-area: from;
}

.add-transfer-form-to {
    grid-area: to;
}

.add-transfer-form-charge {
    grid-area: charge;
}

.add-transfer-form-notes {
    grid-area: notes;
}

.add-transfer-form-submit {
    grid-area: submit;
}

.add-tx-input {
    min-width: 0;
    flex-grow: 1;
}

.add-tx-credit-btn {
    width: 100%;
    height: 100%;
}

.add-tx-submit-btn {
    width: 100%;
    height: 100%;
}

.tx-account-filters {
    display: flex;
    /* transition: max-height 0.3s linear; */
}

.tx-filters {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-areas:
        "accounts accounts parties parties notes notes notes"
        "min-charge max-charge credit date-begin date-end . .";
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    /* transition: max-height 0.3s linear; */
}

.tx-filters-accounts {
    grid-area: accounts;
}

.tx-filters-parties {
    grid-area: parties;
}

.tx-filters-notes {
    grid-area: notes;
}

.tx-filters-min-charge {
    grid-area: min-charge;
}

.tx-filters-max-charge {
    grid-area: max-charge;
}

.tx-filters-credit {
    grid-area: credit;
}

.tx-filters-date-begin {
    grid-area: date-begin;
}

.tx-filters-date-end {
    grid-area: date-end;
}

.account-balance-as-of {
    width: 10em;
}

.charge-credit {
    color: #2ecc71;
}

.edit-tx-input {
    width: 5.5em;
}

.edit-tx-input-font-color {
    color: #000000;
}

.tx-data-table-charge-negative {
    color: #e74c3c;
}

.tx-data-table-charge-positive {
    color: #2ecc71;
}

.tx-data-table-column-1 {
    min-width: 16em;
}

.tx-data-table-column-2 {
    min-width: 12em;
}

.tx-data-table-column-3 {
    min-width: 8em;
}

.tx-data-table-column-4 {
    min-width: 8em;
}

.tx-data-table-column-5 {
    min-width: 8em;
}

.tx-data-table-column-6 {
    min-width: 6em;
}

/* --- Individual Elements --- */

.hidden-color-input {
    max-width: 0;
    max-height: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    margin: 0;
    opacity: 0;
}

#tables-container {
    height: 100%;
    display: flex;
}

#accounts-table-container {
    overflow-y: scroll;
    width: 100%;
    max-width: 20em;
    transition: max-width 0.5s;
    /* max-width: 0; */ /* uncheck to hide */
}

#accounts-table {
    min-width: 20em;
}

#txs-table-container {
    overflow-y: scroll;
    width: 100%;
}
